.dow {
  border: 2px solid purple;
  border-radius: 10px;
}

.recipe {
  padding-top: 10px;
}

.selectize-input {
  white-space: nowrap;
}

body {
  background-color: #e2e8f0;
  color: #655A7C;
}

body > div.container-fluid > div > div.col-sm-4 > form {
  background-color: #CEF9F2;
}

/*
body > div.container-fluid > div > div.col-sm-8 > div > ul > li.active > a
*/

body > div.container-fluid > div > div.col-sm-8 > div > ul > li.active > a {
  background-color: #e2e8f0;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: 1px solid #655A7C;
  border-bottom-color: transparent;
}

.nav-tabs {
  border-bottom: 1px solid #655A7C;
}

body > div.container-fluid > div > div.col-sm-8 > div > ul > li > a:hover {
  background-color: #c0cddf;
}

a {
  color: #0094C6;
}

.shiny-output-error-validation {
  color: #655A7C;
}

.label-warning {
    background-color: mediumpurple;
}

/* Plan for me button */
.bttn-unite.bttn-warning:after {
    background: #a284e0;
}

.bttn-unite.bttn-warning:focus, .bttn-unite.bttn-warning:hover {
    background: mediumpurple;
    color: #fff;
}

.bttn-unite.bttn-warning {
    border-color: mediumpurple;
    color: mediumpurple;
}

.bttn-unite.bttn-warning:before {
    background: mediumpurple;
}

.about_social {
  margin-right: 10px;
}

/* ---- DT Table ---- */

/* Headers */
#DataTables_Table_0 > thead {
  font-size: 16px;
}

/* Grouping Row */
table.dataTable tr.dtrg-group td {
  padding: 8px;
  color: #FFFFFF;
  background-color: #a1a6c4 !important;
  font-size: 80%;
  font-weight: bolder !important;
  text-transform: uppercase;
  vertical-align: middle;
}

/* Row Colors */
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #e2e8f0 !important;
}

table.dataTable tbody tr {
    background-color: #d1dbe7 !important;
}